{% extends 'dashboard/job_base.html' %}

{% block title %} Application Master - {{result.id}} {% endblock title %}

{% block preheader %}

<div class="pull-right">
  <select name="refresh" id="refresh" class="form-control">
    <option value="">No Auto Refresh</option>
    <option value="60" {% if payload.refresh = '60' %}selected{% endif %}>Auto Refresh every 60 seconds</option>
  </select>
</div>


{% endblock preheader %}
{% block body %}
<!--{{result}} -->


{% if result %}
<table class="table table-striped table-small">
  <tbody>
    <tr>  <td> <b> Job Name:</b>  </td>       <td>{{result.name}}</td>            </tr>
    <tr>  <td> <b> User Name:</b> </td>       <td>{{result.user}}</td>            </tr>
    <tr>  <td> <b> State:</b> </td>           <td>{{result.state}}</td>           </tr>
    <tr>  <td> <b> Uberized:</b>  </td>       <td>{{result.uberized}}</td>        </tr>
    <tr>  <td> <b> Started:</b> </td>         <td>{{result.startTime}}</td>       </tr>
    <tr>  <td> <b> Elapsed:</b> </td>         <td>{{result.elapsedTime}}</td>     </tr>
  </tbody>
</table>


  <table class="table table-striped table-small">
    <thead>
      <tr>
        <th>Task Type</th>
        <th>Total</th>
        <th>Complete</th>
        <th>Running</th>
        <th>Pending</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{% url 'job_tasks' application_id job_id %}?type=m"> Map</a></td>
        <td>{{result.mapsTotal}}</td>
        <td>{{result.mapsCompleted}}</td>
        <td>{% if result.mapsRunning %}{{result.mapsRunning}}{% else %} 0 {% endif %}</td>
        <td>{{result.mapsPending}}</td>
        <td><progress value="{{result.mapProgress}}" max="100"></progress></td>
      </tr>

      <tr>
        {% if result.reducesTotal > 0 %}
          <td><a href="{% url 'job_tasks' application_id job_id %}?type=r">Reduce</a></td>
          <td>{{result.reducesTotal}}</td>
          <td>{{result.reducesCompleted}}</td>
          <td>{{result.reducesRunning}}</td>
          <td>{{result.reducesPending}}</td>
          <td>{{result.reduceProgress}}</td> 
        {% else %}
          <td>Reduce</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td> - </td> 
        {% endif %}
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-small">
    <thead>
      <tr>
        <th>Attempt Type</th>
        <th>New</th>
        <th>Running</th>
        <th>Failed</th>
        <th>Killed</th>
        <th>Successful</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Map</td>
        <td>{{result.newMapAttempts}}</td>
        <td>{{result.runningMapAttempts}}</td>
        <td>{{result.failedMapAttempts}}</td>
        <td>{{result.killedMapAttempts}}</td>
        <td>{{result.successfulMapAttempts}}</td>
      </tr>
      <tr>
        <td>Reduce</td>
        <td>{{result.newReduceAttempts}}</td>
        <td>{{result.runningReduceAttempts}}</td>
        <td>{{result.failedReduceAttempts}}</td>
        <td>{{result.killedReduceAttempts}}</td>
        <td>{{result.successfulReduceAttempts}}</td>
      </tr>
    </tbody>
  </table>
{% else %}

No jobs found!

{% endif %}

{% endblock body %}

{% block child_js %}
<script type="text/javascript">
$(function(){

  //honor existing refresh interval
  var params = $.url(window.location.href).param();
  if (params['refresh']) {
    setTimeout('window.location.reload();', params['refresh']*1000);
  };

  //set refresh interval in params
  $('#refresh').change(function(){
    var interval = $("#refresh option:selected").val();
    var params = $.url(window.location.href).param();
    if (interval) {
      params['refresh'] = interval;
    } else {
      delete params['refresh'];
    };

    window.location.href="?" + $.param(params);

  });

});


</script>
{% endblock child_js %}