{% extends 'dashboard/base.html' %}

{% block content %}

{% if result %}
{% for counterGroup in result.counterGroup %}
{{counterGroup.counterGroupName}}
<table class='table table-striped'>
    <thead> 
      <tr>
        <th>Name</th>
        <th>Reduce Counter Value</th>
        <th>Map Counter Value</th>
        <th>Total Counter Value</th>
      </tr>
    </thead>

    <tbody>
      {% for el in counterGroup.counter %}
      <tr>
        <td>{{el.name}}</td>
        <td>{{el.reduceCounterValue}}</td>
        <td>{{el.mapCounterValue}}</td>
        <td>{{el.totalCounterValue}}</td>
      </tr>
      {% endfor %}

    </tbody>
</table>

{% endfor %}

{% else %}
No Jobs available matching your criteria!

{% endif %}

{% endblock content %}

{% block child_js %}

{% endblock child_js %}