{% extends 'dashboard/base.html' %}

{% block content %}

{% if result %}
<table class='datatable table table-striped'>
    <thead> 
      <tr>
        <th>Task Id</th>
        <th>Finish Time</th>
        <th>Successful Attempt</th>
        <th>Elapsed Time</th>
        <th>State</th>
        <th>Status</th>
        <th>Start Time</th>
        <th>Progress</th>
        <th>Type</th>
      </tr>
    </thead>

    <tbody>
      {% for el in result%}
      <tr>
        <td>{{el.id}}</td>
        <td>{{el.finishTime}}</td>
        <td>{{el.successfulAttempt}}</td>
        <td>{{el.elapsedTime}}</td>
        <td>{{el.state}}</td>
        <td>{{el.status}}</td>
        <td>{{el.startTime}}</td>
        <td>{{el.progress}}</td>
        <td>{{el.type}}</td>
      </tr>
      {% endfor %}

    </tbody>
</table>
{% else %}
No Jobs available matching your criteria!

{% endif %}

{% endblock content %}

{% block child_js %}

{% endblock child_js %}