{% extends 'dashboard/base.html' %}

{% block content %}

<a href="{%url 'jobs' %}?states=RUNNING" id="running"> RUNNING</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="{%url 'jobs' %}?states=FINISHED" id="finished"> FINISHED</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="{%url 'jobs' %}?states=FAILED" id="failed"> FAILED</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="{%url 'jobs' %}?states=KILLED" id="killed"> KILLED</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="{%url 'jobs' %}?states=NEW" id="new"> NEW </a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="{%url 'jobs' %}?states=NEW_SAVING" id="new_saving"> NEW SAVING</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="{%url 'jobs' %}?states=SUBMITTED" id="submitted"> SUBMITTED</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="{%url 'jobs' %}?states=ACCEPTED" id="accepted"> ACCEPTED</a> &nbsp;&nbsp;&nbsp;&nbsp;

<br><br><br><br>

{% if result %}
<table class='datatable table table-striped'>
    <thead> 
      <tr>
        <th>Job Details</th>
        <th>User</th>
        <th>Name</th>
        <th>Queue</th>
        <th>Start</th>
        <th>Running Time</th>
        <th>Application Master Details</th>
        <th>Container Logs</th>
        <th>Allocated Memory</th>
        <th>Running Containers</th>
        <th>Final Status</th>
        <th>Type</th>
      </tr>
    </thead>

    <tbody>
      {% for el in result%}
      <tr>
        <!-- If it's MAPREDUCE type job then send it to job details else send it to application details -->
        <td>{% if el.applicationType == 'MAPREDUCE' %}
                <a href="{% url 'job_details' el.id  el.job_id %}">{{el.id}}</a>
            {% else %} 
                {{el.id}}
            {% endif %}
        </td>
        <td>{{el.user}}</td>
        <td>{{el.name}}</td>
        <!-- This link alters between Application Master and Job Details so skip it
        <td><a href="{{el.trackingUrl}}">Job Details</a></td>
        -->
        <td>{{el.queue}}</td>
        <td>{{el.startedTime}}</td>
        <td>{{el.elapsedTime}}</td>
        <td><a href="{% url 'application_master_details' el.id %}">AM Details</a></td>
        <td><a href="{{el.amContainerLogs}}">Container Logs</a></td>
        <td>{{el.allocatedMB}}</td>
        <td>{{el.runningContainers}}</td>
        <td>{{el.finalStatus}}</td>
        <td>{{el.applicationType}}</td>
      </tr>
      {% endfor %}

    </tbody>
</table>
{% else %}
No Jobs available matching your criteria!

{% endif %}

{% endblock content %}

{% block child_js %}

{% endblock child_js %}