{% extends 'dashboard/base.html' %}

{% block content %}

<form role="form" class="form-inline" id="filter-form">
    <div class="form-group">
        <label class="sr-only" for="states">State</label>
        <select id="states" class="form-control">
            <option value="">All</option>
            {% for el in states %}
                <option value="{{el}}" {% if payload.states = el %} selected {% endif %}>{{el}}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <label class="sr-only" for="queue">State</label>
        <input name="queue" id="queue" type="text" class="form-control" placeholder="Enter queue name" value="{{payload.queue}}">
    </div>    
        

    <div class="form-group">
        <label class="sr-only" for="queue">State</label>
        <input name="user" id="user" type="text" placeholder="Enter user" value="{{payload.user}}" class="form-control">
    </div>    

    <button type="submit" class="btn btn-primary">GO</button>

</form>

<br><br><br><br>

{% if result %}
<table class='datatable table table-striped'>
    <thead> 
      <tr>
        <th>Job Details</th>
        <th>User</th>
        <th>Name</th>
        <th>Queue</th>
        <th>Start</th>
        <th>Elapsed Time</th>
        <th>Application Master Details</th>
        <th>Container Logs</th>
        <th>Allocated Memory</th>
        <th>Running Containers</th>
        <th>Final Status</th>
        <th>Type</th>
      </tr>
    </thead>

    <tbody>
      {% for el in result%}
      <tr>
        <!-- If it's MAPREDUCE type job then send it to job details else send it to application details -->
        <td>{% if el.applicationType == 'MAPREDUCE' %}
                <a href="{% url 'job_details' el.id  el.job_id %}">{{el.id}}</a>
            {% else %} 
                {{el.id}}
            {% endif %}
        </td>
        <td>{{el.user}}</td>
        <td>{{el.name}}</td>
        <!-- This link alters between Application Master and Job Details so skip it
        <td><a href="{{el.trackingUrl}}">Job Details</a></td>
        -->
        <td>{{el.queue}}</td>
        <td>{{el.startedTime}}</td>
        <td>{{el.elapsedTime}}</td>
        <td><a href="{% url 'application_master_details' el.id %}">AM Details</a></td>
        <td><a href="{{el.amContainerLogs}}">Container Logs</a></td>
        <td>{{el.allocatedMB}}</td>
        <td>{{el.runningContainers}}</td>
        <td>{{el.finalStatus}}</td>
        <td>{{el.applicationType}}</td>
      </tr>
      {% endfor %}

    </tbody>
</table>
{% else %}
No Jobs available matching your criteria!

{% endif %}

{% endblock content %}

{% block child_js %}
<script type="text/javascript">
$('#filter-form').submit( function(event) {
    var params = {};
    params["states"] = $('#states').val();
    params["queue"] = $('#queue').val();
    params["user"] = $('#user').val();
    var newUrl = "?" + $.param(params);
    window.location.href= newUrl;
    event.preventDefault();
});

</script>
{% endblock child_js %}


{% block datatable %}
<script type="text/javascript">
$(function(){
      /* Init DataTables */
    var oTable = $('.datatable').dataTable({
      "pageLength": 20,
      "columnDefs": [
          {
              "render": function ( data, type, row ) {
                  return moment(Number(data)).format("lll");
              },
              "targets": [4]
          },
          {
              "render": function ( data, type, row ) {
                  return moment.duration(Number(data), "milliseconds").humanize();
              },
              "targets": [5]
          }
      ]
    });
});
</script>
{% endblock datatable %}