{% extends 'dashboard/task_base.html' %}

{% block body %}

{% if result %}
<table class='datatable table table-striped'>
    <thead> 
      <tr>
        <th>Attempt</th>
        <th>State</th>
        <th>Status</th>
        <th>Node</th>
        <th>Logs</th>
        <th>Start Time</th>
        <th>Finish Time</th>
        <th>Elapsed Time</th>
        <th>Progress</th>
      </tr>
    </thead>

    <tbody>
      {% for el in result%}
      <tr>
        <td>{{el.id}}</td>
        <td>{{el.state}}</td>
        <td>{{el.status}}</td>
        <td>{{el.nodeHttpAddress}}</td>
        <td>??</td>
        <td>{{el.startTime}}</td>
        <td>{{el.finishTime}}</td>
        <td>{{el.elapsedTime}}</td>
        <td><progress value="{{el.progress}}" max="100"></progress></td>
      </tr>
      {% endfor %}

    </tbody>
</table>
{% else %}

  No tasks available matching your criteria!

{% endif %}

{% endblock body %}

{% block datatable %}
<script type="text/javascript">
$(function(){
      /* Init DataTables */
    var oTable = $('.datatable').dataTable({
      "pageLength": 20,
      "columnDefs": [
          {
              "render": function ( data, type, row ) {
                  return moment(Number(data)).format("lll");
              },
              "targets": [5,6]
          },
          {
              "render": function ( data, type, row ) {
                  return moment.duration(Number(data), "milliseconds").humanize();
              },
              "targets": [7]
          }
      ]
    });
});
</script>
{% endblock datatable %}