{% extends 'dashboard/base.html' %}

{% block title %} Application Master - {{result.id}} {% endblock title %}

{% block content %}

    {% block header %}
        <div class="btn-group" role="group" aria-label="">
          <a id="overview" class="btn btn-default" href="{% url 'task_details' application_id job_id task_id %}"> Overview</a>
          <a id="counters" class="btn btn-default" href="{% url 'task_counters' application_id job_id task_id %}"> Counters</a>
        </div>
        <br><br><br>

    {% endblock header %}


    {% block body %} {% endblock body %}


{% endblock content %}

